@import url('https://fonts.googleapis.com/css?family=Raleway');

#container-fluid {
	text-align: left;
}

h2 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 25px;
	font-variant: small-caps;
}

h3 {
	line-height: 0px;
}

.info {
	text-align: center;
	font-variant: small-caps;
	font-size: 20px;
}
	
.collapsible {
	background-color: #e6e6e6;
	color: #ffffff;
	border: none;
	width: 100%;
	padding: 4px;
	font-size: 18px;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-variant: small-caps;
}

.collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active.after {
	content: "\2212";
}

.collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.center {
	border-radius: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}

a {
	text-decoration: none;
	color: #000000;
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
