/* my style */

/*.image-12 {
	background: url('https://upload.wikimedia.org/wikipedia/commons/9/99/SOME_LIKE_IT_HOT_TITLE.jpg');
	height: 300px ;
	
}*/

  .picture {
    width: 800px;
	height: 450px;
    background-image: url('../img/puppy-800x450.jpg'); 
	background-repeat: no-repeat;
  }

@media only screen and (max-width: 800px) {
  .picture {
    width: 355px; 
	height: 200px;
    background-image: url('../img/puppy-355x200.jfif');
	background-repeat: no-repeat;
}